  @import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Libre+Baskerville&display=swap');

* {
    padding: 0;
    margin: 0;
    
}

body{
    font-family: 'Crete Round', serif;
    font-family: 'Libre Baskerville', serif;
    opacity: 0.8;
    background: radial-gradient(circle, transparent 20%, #ffffff6d 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 27.5px 27.5px, linear-gradient(#4e56e9 2.2px, transparent 2.2px) 0 -1.1px, linear-gradient(90deg, #4e56e9 2.2px, #e5e5f7 2.2px) -1.1px 0;
    background-size: 55px 55px, 55px 55px, 27.5px 27.5px, 27.5px 27.5px;
    min-height: 100vh;
}

.form{
    background-color: #ffffff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 30%);
    text-align: center;
}

.form__title{
    font-size: 2rem;
    margin-bottom: .5em;
}

.form__paragraph{
    font-weight: 300;
}

.form__link{
    font-weight: 400;
    color: black;
}

.form__container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form__group{
    position: relative;
    --color: #696969;   
}

.form__input{
    width: 100%;
    background: none;
    color: #cececefd;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Crete Round', serif;
    font-family: 'Libre Baskerville', serif;
}


.form__input:not(:placeholder-shown){
    color: rgba(0, 0, 0, 0.503);
}



.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: rgb(0, 0, 255);
}


.form__label{
    color: var(--color)
}


.form__label{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;

}


.form__submit{
    background-color: rgba(0, 76, 255, 0.986);
    color: rgb(255, 255, 255);
    font-family: 'Crete Round', serif;
    font-family: 'Libre Baskerville', serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}


.form__line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #4565d8bb;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}



.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__line{
    transform: scale(1);
}


@media (max-width:425px){

    .form__title{
        font-size: 1.8rem;
    }

}


.cabeza {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.encabezado {
    width: 500px;
    height: 20px;
    background-color: rgb(1, 4, 39);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
}

.encabezado a {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}


*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
      box-sizing: border-box;
  }
  *:before,
  *:after{
      box-sizing: border-box;
  }

  
  h1{
      display: table;
      margin: 5% auto 0;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 4em;
      font-weight: 400;
  
  }
  .container{
      margin: 4% auto;
      width: 210px;
      height: 140px;
      position: relative;
      perspective: 1000;
  }
  #galeri{
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      animation: rotation 15s infinite linear;
  }
  #galeri:hover{
      animation-play-state: paused;
  }
  #galeri figure{
      display: block;
      position: absolute;
      width: 186px;
      height: 116px;
      left: 10px;
      top: 10px;
      background: black;
      overflow: hidden;
      border: solid 5px black;
  }
  #galeri figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
  #galeri figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
  #galeri figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
  #galeri figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
  #galeri figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
  #galeri figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
  #galeri figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
  #galeri figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
  #galeri figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}
  
  img{
      -webkit-filter: grayscale(1);
      cursor: pointer;
      transition: all .5s ease;
  }
  img:hover{
      -webkit-filter: grayscale(0);
    transform: scale(1.2,1.2);
  }
  
  @keyframes rotation{
      from{
          transform: rotateY(0deg);
      }
      to{
          transform: rotateY(360deg);
      }
  }







  html, body, .hello-parent {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  .hello-parent {
    display: flex;
    background: #fff;
    background: -webkit-radial-gradient(#fff, #eaeaea); 
    background: -o-radial-gradient(#fff, #eaeaea); 
    background: -moz-radial-gradient(#fff, #eaeaea);
    background: radial-gradient(#fff, #eaeaea); 
  }
  
  .hello-word {
    margin:auto;
  }
  /* H Animation */
  
  .H-left-stroke {
    stroke-dasharray: 124px;
    stroke-dashoffset: 124px;
    animation: H-left-move 20s ease forwards;
  }
  
  .H-mid-stroke {
    stroke-dasharray: 37px;
    stroke-dashoffset: 37px;
    animation: H-mid-move 9s ease forwards;
  }
  
  .H-right-stroke {
    stroke-dasharray: 124px;
    stroke-dashoffset: 124px;
    animation: H-right-move 13s ease forwards;
  }
  
  @keyframes H-left-move {
    0% {
      stroke-dashoffset: 124px;
    }
    5% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  @keyframes H-mid-move {
    0% {
      stroke-dashoffset: 37px;
    }
    5% {
      stroke-dashoffset: 37px;
    }
    10% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  @keyframes H-right-move {
    0% {
      stroke-dashoffset: 124px;
    }
    5% {
      stroke-dashoffset: 124px;
    }
    10% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  /* E Animation */
  
  .E-left-stroke {
    stroke-dasharray: 124px;
    stroke-dashoffset: 124px;
    animation: E-left-move 20s ease forwards;
  }
  
  .E-top-stroke {
    stroke-dasharray: 47px;
    stroke-dashoffset: 47px;
    animation: E-top-move 10s ease forwards;
  }
  
  .E-mid-stroke {
    stroke-dasharray: 42px;
    stroke-dashoffset: 42px;
    animation: E-mid-move 10s ease forwards;
  }
  
  .E-bottom-stroke {
    stroke-dasharray: 47px;
    stroke-dashoffset: 47px;
    animation: E-bottom-move 10s ease forwards;
  }
  
  @keyframes E-left-move {
    0% {
      stroke-dashoffset: 124px;
    }
    2% {
      stroke-dashoffset: 124px;
    }
    6% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  @keyframes E-top-move {
    0% {
      stroke-dashoffset: 47px;
    }
    6% {
      stroke-dashoffset: 47px;
    }
    11% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  @keyframes E-mid-move {
    0% {
      stroke-dashoffset: 42px;
    }
    8% {
      stroke-dashoffset: 42px;
    }
    13% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  @keyframes E-bottom-move {
    0% {
      stroke-dashoffset: 47px;
    }
    11% {
      stroke-dashoffset: 47px;
    }
    16% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  /* L One Animation */
  
  .L-one-long-stroke {
    stroke-dasharray: 124px;
    stroke-dashoffset: 124px;
    animation: L-one-long-move 20s ease forwards;
  }
  
  .L-one-short-stroke {
    stroke-dasharray: 44px;
    stroke-dashoffset: 44px;
    animation: L-one-short-move 10s ease forwards;
  }
  
  @keyframes L-one-long-move {
    0% {
      stroke-dashoffset: 124px;
    }
    2% {
      stroke-dashoffset: 124px;
    }
    7% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  @keyframes L-one-short-move {
    0% {
      stroke-dashoffset: 44px;
    }
    13% {
      stroke-dashoffset: 44px;
    }
    18% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  /* L Two Animation */
  
  .L-two-long-stroke {
    stroke-dasharray: 124px;
    stroke-dashoffset: 124px;
    animation: L-two-long-move 20s ease forwards;
  }
  
  .L-two-short-stroke {
    stroke-dasharray: 44px;
    stroke-dashoffset: 44px;
    animation: L-two-short-move 10s ease forwards;
  }
  
  @keyframes L-two-long-move {
    0% {
      stroke-dashoffset: 124px;
    }
    3% {
      stroke-dashoffset: 124px;
    }
    8% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  @keyframes L-two-short-move {
    0% {
      stroke-dashoffset: 44px;
    }
    15% {
      stroke-dashoffset: 44px;
    }
    20% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  /* O Animation */
  
  .O-stroke {
    stroke-dasharray: 302px;
    stroke-dashoffset: 302px;
    animation: O-move 20s ease forwards;
  }
  
  @keyframes O-move {
    0% {
      stroke-dashoffset: 302px;
    }
    4% {
      stroke-dashoffset: 302px;
    }
    9% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }
  
  /* Red Dot Animation */
  
  .red-dot {
    stroke-width: 44px;
    stroke-linecap: round;
    animation: red-dot-grow 8s ease-out forwards;
  }
  
  @keyframes red-dot-grow {
    0% {
      stroke-width: 0px;
    }
    15% {
      stroke-width: 0px;
    }
    20% {
      stroke-width: 44px;
    }
    100% {
      stroke-width: 44px;
    }
  }